* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
    border-color: ;
    width: 500px;
    height: 700px;
}

img {
    width: 100%
}

.date {
    border: #ed4a3c;
    background-color: #ed4a3c;
    border-radius: 50%;
}

.title {
    text-align: left;

}

.photo {}